<html>
<head>
  <title>to do list</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
</head>
<script src="/assets/todo-list.js"></script>
<body>

  <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="add new item.." required/>
      <button type="submit">Add item</button>
    </form>
    <ul>
      <% for(i=0; i< todos.length; i++){ %>
      <li><%= todos[i].item %></li>
    <% } %>
    </ul>
  </div>
  </body>
  </html>
